main {
	align-content: baseline;
	display: grid;
	grid-template-columns: repeat(auto-fill, 100px);
	gap: 20px;
	padding: 20px;
}

main button {
	position: relative;
	padding: 95px 5px 5px;
	border: none;
	background: none;
	height: fit-content;
}

main button span {
	padding: 3px 5px 3px;
	border-radius: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	width: fit-content;
	max-width: 89%;
	margin: auto;
	white-space: nowrap;
}

main button input {
	text-align: center;
	width: 89%;
}

main button.selected {
	color: white;
}

main button.selected span {
	background-color: var(--select-color);
}

main button::before {
	content: "";
	width: 80%;
	height: 90px;
	position: absolute;
	top: 5px;
	left: 10%;
	background-size: contain;
	background-repeat: no-repeat;
}

main button.hidden::before {
	filter: contrast(0.3) brightness(1.53);
}

main button::before {
	background-image: url("/static/img/formats/Document.webp");
}

main button.directory::before {
	background-image: url("/static/img/formats/Directory.webp");
}

main button::after {
	content: "";
	width: 85%;
	height: 83px;
	position: absolute;
	top: 5px;
	left: 7.5%;
	border-radius: 2px;
}

main button.selected::after {
	background-color: rgba(0, 0, 0, 0.04);
	outline: 2px solid #EEE;
}

#drag_selection {
	position: absolute;
	border: 1px solid #EEE;
	background-color: rgba(0, 0, 0, 0.2);
}
