main {
	align-content: baseline;
	display: grid;
	grid-template-columns: repeat(auto-fill, 100px);
	gap: 20px;
	padding: 20px;
}

main button {
	position: relative;
	padding: 5px;
	border: none;
	background: none;
	height: fit-content;
}

main button span {
	padding: 3px 5px 3px;
	border-radius: 5px;
	overflow: hidden;
	display: block;
	width: fit-content;
	max-width: 89%;
	margin: auto;
	margin-top: 6px;
	word-break: break-all;
	line-clamp: 2;
	-webkit-line-clamp: 2;
}

main button input {
	text-align: center;
	width: 89%;
	margin-top: 6px;
}

main button.selected {
	color: white;
}

main button.selected span {
	background-color: var(--select-color);
}

main button figure {
	width: 100%;
	height: 83px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main button img {
	max-width: 90%;
	max-height: 100%;
}

main button.hidden img {
	filter: contrast(0.3) brightness(1.53);
}

main button::before {
	content: "";
	width: 85%;
	height: 83px;
	position: absolute;
	left: 7.5%;
	border-radius: 2px;
}

main button.selected::before {
	background-color: rgba(0, 0, 0, 0.04);
	outline: 2px solid #EEE;
}

#drag_selection {
	position: absolute;
	border: 1px solid #EEE;
	background-color: rgba(0, 0, 0, 0.2);
}
