main {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 10px;
	width: 100%;

	div {
		align-items: center;
		border-radius: 5px;
		display: grid;
		font-size: 0.8em;
		gap: 16px;
		grid-template-columns: 36px 1fr 1fr;
		height: 3em;

		* {
			height: min-content;
		}

		img {
			height: 28px;
			justify-self: center;
			padding-left: 18px;
		}
	}

	div:nth-child(odd) {
		background-color: #F2F2F2;
	}

	div.selected {
		background-color: var(--select-color);
		color: white;
	}

	div input {
		border: 0;
		padding: 0 0 0 5px;
	}

	p {
		margin: 0;
	}
}
