main {
	margin: 0;
	padding: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

main div {
	display: grid;
	grid-template-columns: 25px 1fr 1fr;
	padding: 2px;
	border-radius: 5px;
	font-size: 0.8em;
}

main div:nth-child(odd) {
	background-color: #F5F5F5;
}

main div.selected {
	background-color: var(--select-color);
	color: white;
}

main div img {
	height: 16px;
	padding-left: 5px;
}

/* main div::before {
	content: "";
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("/static/img/formats/Document.webp");
}fill="#EFEFEF"

main div.directory::before {
	background-image: url("/static/img/formats/Directory.webp");
} */

main div input {
	border: 0;
	padding: 0 0 0 5px;
}

main p {
	margin: 0;
}
