main {
	margin: 0;
	padding: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

main div {
	display: grid;
	grid-template-columns: 25px 1fr 1fr;
	height: 3em;
	align-items: center;
	gap: 8px;
	border-radius: 5px;
	padding-left: 12px;
	font-size: 0.8em;
}

main div:nth-child(odd) {
	background-color: #F2F2F2;
}

main div.selected {
	background-color: var(--select-color);
	color: white;
}

main div img {
	height: 28px;
}

main div * {
	height: min-content;
}

main div input {
	border: 0;
	padding: 0 0 0 5px;
}

main p {
	margin: 0;
}
