dist
tmp
out-tsc

node_modules

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode

/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data

srv
