main .image {
	align-items: center;
	background-color: #969696;
	background-image: var(--image);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;

	p {
		background-color: #DDD;
		border-radius: 8px;
		font-size: 0.9em;
		padding: 12px;
	}
}
