main {
	align-content: baseline;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, 100px);
	padding: 20px;
}

main button {
	background: none;
	border: none;
	height: fit-content;
	padding: 5px;
	position: relative;
}

main button span {
	border-radius: 5px;
	display: block;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	margin: auto;
	margin-top: 6px;
	max-width: 89%;
	overflow: hidden;
	padding: 3px 5px;
	width: fit-content;
	word-break: break-all;
}

main button input {
	margin-top: 6px;
	text-align: center;
	width: 89%;
}

main button.selected {
	color: white;
}

main button.selected span {
	background-color: var(--select-color);
}

main button figure {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 83px;
	justify-content: center;
	width: 100%;
}

main button img {
	max-height: 100%;
	max-width: 90%;
}

main button.hidden img {
	filter: contrast(0.3) brightness(1.53);
}

main button::before {
	border-radius: 2px;
	content: "";
	height: 83px;
	left: 7.5%;
	position: absolute;
	width: 85%;
}

main button.selected::before {
	background-color: rgba(0 0 0 / 4%);
	outline: 2px solid #EEE;
}

#drag-selection {
	background-color: rgba(0 0 0 / 10%);
	border: 1px solid #CCC;
	position: absolute;
}
