button.file-txt::before {
	background-image: url("/static/img/formats/text/PlainText.webp");
}

button.file-rtf::before {
	background-image: url("/static/img/formats/text/RichText.webp");
}

button.file-png::before {
	background-image: url("/static/img/formats/graphics/PortableNetworkGraphics.webp");
}
