@import url("/static/css/extensions.css");

@font-face {
  font-family: "SF Pro";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("/static/fonts/sf.woff2") format("woff2");
  unicode-range: U+0000-024F;
}

main {
	display: grid;
	grid-template-columns: repeat(auto-fill, 100px);
	gap: 20px;
}

button {
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
	padding: 95px 5px 5px;
	border: none;
	background: none;
	font-family: "SF Pro";
}

button::before {
	content: "";
	width: 80%;
	height: 90px;
	position: absolute;
	top: 5px;
	left: 10%;
	background-size: contain;
	background-repeat: no-repeat;
}

button.hidden::before {
	filter: contrast(0.3) brightness(1.6);
}

button::before {
	background-image: url("/static/img/formats/Document.webp");
}

button.directory::before {
	background-image: url("/static/img/Directory.webp");
}
