@import url("/static/css/menu.css");
@import url("/static/css/extensions.css");

@font-face {
  font-family: "SF Pro";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("/static/fonts/sf.woff2") format("woff2");
  unicode-range: U+0000-024F;
}

:root {
	--select-color: #0c79df;
}

body {
	font-family: "SF Pro";
}

main {
	display: grid;
	grid-template-columns: repeat(auto-fill, 100px);
	gap: 20px;
}

main button {
	position: relative;
	padding: 95px 5px 5px;
	border: none;
	background: none;
}

main button span {
	padding: 3px 5px 3px;
	border-radius: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	width: fit-content;
	max-width: 89%;
	margin: auto;
}

main button.selected {
	color: white;
}

main button.selected span {
	background-color: var(--select-color);
}

main button::before {
	content: "";
	width: 80%;
	height: 90px;
	position: absolute;
	top: 5px;
	left: 10%;
	background-size: contain;
	background-repeat: no-repeat;
}

main button.hidden::before {
	filter: contrast(0.3) brightness(1.53);
}

main button::before {
	background-image: url("/static/img/formats/Document.webp");
}

main button.directory::before {
	background-image: url("/static/img/Directory.webp");
}

main button::after {
	content: "";
	width: 85%;
	height: 83px;
	position: absolute;
	top: 5px;
	left: 7.5%;
	border-radius: 2px;
}

main button.selected::after {
	background-color: rgba(0, 0, 0, 0.04);
	outline: 2px solid #EEE;
}

#drag_selection {
	position: absolute;
	border: 1px solid #EEE;
	background-color: rgba(0, 0, 0, 0.2);
}

form {
	display: none;
}

form input {
	position: fixed;
	inset: 0;
	height: 100vh;
	width: 100vw;
}
