@import url("/static/css/menu.css");

@font-face {
  font-family: "SF Pro";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("/static/fonts/sf.woff2") format("woff2");
  unicode-range: U+0000-024F;
}

:root {
	--select-color: #0c79df;
}

body {
	font-family: "SF Pro";
	margin: 0;
}
