main .file-3fr::before,
main .file-arw::before,
main .file-cr2::before,
main .file-cr3::before,
main .file-dng::before,
main .file-fff::before,
main .file-j6i::before,
main .file-mrw::before,
main .file-nef::before,
main .file-nrw::before,
main .file-raw::before,
main .file-orf::before,
main .file-srf::before,
main .file-sr2::before {
	background-image: url("/static/img/formats/graphics/RawImage.webp");
}

main .file-aa::before {
	background-image: url("/static/img/formats/audio/AudioBook.webp");
}

main .file-aac::before {
	background-image: url("/static/img/formats/audio/AdvancedAudioCoding.webp");
}

main .file-abc::before {
	background-image: url("/static/img/formats/graphics/AlembicGraphics.webp");
}

main .file-ac3::before {
	background-image: url("/static/img/formats/audio/AudioCodec3.webp");
}

main .file-action::before {
	background-image: url("/static/img/formats/scripting/AutomatorAction.webp");
}

main .file-ada::before,
main .file-adb::before,
main .file-ads::before,
main .file-aupreset::before,
main .file-bash::before,
main .file-c::before,
main [class*="file-c++"]::before,
main .file-cc::before,
main .file-cpp::before,
main .file-csh::before,
main .file-css::before,
main .file-csv::before,
main .file-cxx::before,
main .file-diff::before,
main .file-f::before,
main .file-f90::before,
main .file-f95::before,
main .file-for::before,
main .file-h::before,
main [class*="file-h++"]::before,
main .file-hh::before,
main .file-hpp::before,
main .file-htm::before,
main .file-html::before,
main .file-hxx::before,
main .file-i::before,
main .file-jav::before,
main .file-java::before,
main .file-javascript::before,
main .file-js::before,
main .file-json::before,
main .file-l::before,
main .file-log::before,
main .file-m::before,
main .file-m3u::before,
main .file-md::before,
main .file-mdx::before,
main .file-mm::before,
main .file-obj::before,
main .file-patch::before,
main .file-pgn::before,
main .file-php::before,
main .file-php2::before,
main .file-php3::before,
main .file-php4::before,
main .file-php5::before,
main .file-pl::before,
main .file-pm::before,
main .file-py::before,
main .file-r::before,
main .file-rb::before,
main .file-rbw::before,
main .file-s::before,
main .file-sh::before,
main .file-shtml::before,
main .file-spx::before,
main .file-svg::before,
main .file-tab::before,
main .file-tsv::before,
main .file-txt::before,
main .file-xhtm::before,
main .file-xhtml::before,
main .file-xml::before,
main .file-y::before,
main .file-zsh::before {
	background-image: url("/static/img/formats/text/PlainText.webp");
}

main .file-ai::before {
	background-image: url("/static/img/formats/graphics/AdobeIllustrator.webp");
}

main .file-aif::before,
main .file-aiff::before {
	background-image: url("/static/img/formats/audio/AudioInterchange.webp");
}

main .file-aifc::before {
	background-image: url("/static/img/formats/audio/CompressedAudioInterchange.webp");
}

main .file-appdownload::before {
	background-image: url("/static/img/formats/web/AppStoreDownload.webp");
}

main .file-applescript::before,
main .file-scpt::before {
	background-image: url("/static/img/formats/scripting/AppleScript.webp");
}

main .file-as::before {
	background-image: url("/static/img/formats/compression/AppleSingleArchive.webp");
}

main .file-au::before {
	background-image: url("/static/img/formats/audio/AudacityAudio.webp");
}

main .file-auchd::before {
	background-image: url("/static/img/formats/video/HighDefinitionVideo.webp");
}

main .file-band::before {
	background-image: url("/static/img/formats/audio/GarageBandProject.webp");
}

main .file-bdm::before {
	background-image: url("/static/img/formats/video/AdvancedVideoCodingInformation.webp");
}

main .file-bdmv::before {
	background-image: url("/static/img/formats/video/Blu-rayDiskInformation.webp");
}

main .file-bin::before {
	background-image: url("/static/img/formats/text/Binary.webp");
}

main .file-bmp::before {
	background-image: url("/static/img/formats/graphics/BitmapRasterImage.webp");
}

main .file-bundle::before,
main .file-framework::before,
main .file-fs::before,
main .file-mdimporter::before,
main .file-plugin::before,
main .file-qlgenerator::before,
main .file-spreporter::before {
	background-image: url("/static/img/formats/compression/ApplicationBundle.webp");
}

main .file-caction::before {
	background-image: url("/static/img/formats/scripting/AutomatorConverterAction.webp");
}

main .file-cer::before,
main .file-crt::before {
	background-image: url("/static/img/formats/text/DigitalCertificateCER.webp");
}

main .file-cert::before {
	background-image: url("/static/img/formats/text/DigitalCertificate.webp");
}

main .file-class::before {
	background-image: url("/static/img/formats/scripting/JavaClass.webp");
}

main .file-cp::before {
	background-image: url("/static/img/formats/scripting/XcodeC++Source.webp");
}

main .file-cpgz::before {
	background-image: url("/static/img/formats/compression/CompressedCPIOArchive.webp");
}

main .file-cpio::before,
main .file-pax::before {
	background-image: url("/static/img/formats/compression/CPIOArchive.webp");
}

main .file-dif::before,
main .file-dv::before {
	background-image: url("/static/img/formats/video/DigitalVideo.webp");
}

main .file-dls::before {
	background-image: url("/static/img/formats/audio/DownloadableSounds.webp");
}

main .file-dmg::before,
main .file-img::before,
main .file-sparseimage::before,
main .file-sparsebundle::before {
	background-image: url("/static/img/formats/compression/DiskImage.webp");
}

main .file-doc::before {
	background-image: url("/static/img/formats/text/LegacyWordDocument.webp");
}

main .file-docx::before {
	background-image: url("/static/img/formats/text/WordDocument.webp");
}

main .file-download::before {
	background-image: url("/static/img/formats/web/SafariDownload.webp");
}

main .file-dylib::before,
main .file-exe::before,
main .file-exec::before {
	background-image: url("/static/img/formats/scripting/Executable.webp");
}

main .file-eml::before {
	background-image: url("/static/img/formats/text/EmailMessage.webp");
}

main .file-epub::before {
	background-image: url("/static/img/formats/text/ElectronicPublication.webp");
}

main .file-exr::before {
	background-image: url("/static/img/formats/graphics/OpenEXRImage.webp");
}

main .file-f4v::before {
	background-image: url("/static/img/formats/video/FlashVideo.webp");
}

main .file-fileloc::before {
	background-image: url("/static/img/formats/web/InternetFileLocation.webp");
}

main .file-gcx::before {
	background-image: url("/static/img/formats/graphics/GrapherFile.webp");
}

main .file-gif::before {
	background-image: url("/static/img/formats/graphics/GraphicalInterchangeImage.webp");
}

main .file-gz::before,
main .file-gzip::before {
	background-image: url("/static/img/formats/compression/GNUZipArchive.webp");
}

main .file-heic::before {
	background-image: url("/static/img/formats/graphics/HighEfficiencyImageHEIC.webp");
}

main .file-heif::before {
	background-image: url("/static/img/formats/graphics/HighEfficiencyImage.webp");
}

main .file-ibooks::before {
	background-image: url("/static/img/formats/text/AppleDigitalBook.webp");
}

main .file-icc::before,
main .file-icm::before {
	background-image: url("/static/img/formats/graphics/ICCProfile.webp");
}

main .file-icns::before {
	background-image: url("/static/img/formats/graphics/AppleIconResource.webp");
}

main .file-ico::before {
	background-image: url("/static/img/formats/graphics/MicrosoftIcon.webp");
}

main .file-ipa::before {
	background-image: url("/static/img/formats/compression/iOSApplication.webp");
}

main .file-j2c::before,
main .file-jp2::before {
	background-image: url("/static/img/formats/graphics/JPEG2KImage.webp");
}

main .file-jar::before {
	background-image: url("/static/img/formats/compression/JavaArchive.webp");
}

main .file-jpeg::before,
main .file-jpg::before {
	background-image: url("/static/img/formats/graphics/JPEGImage.webp");
}

main .file-keychain::before {
	background-image: url("/static/img/formats/text/AppleKeychain.webp");
}

main .file-logarchive::before {
	background-image: url("/static/img/formats/compression/LogArchive.webp");
}

main .file-lpdf::before {
	background-image: url("/static/img/formats/text/LocalizedPDF.webp");
}

main .file-m2v::before {
	background-image: url("/static/img/formats/video/MPEG2Video.webp");
}

main .file-m4a::before {
	background-image: url("/static/img/formats/audio/MPEG4Audio.webp");
}

main .file-m4v::before {
	background-image: url("/static/img/formats/video/AppleMPEG4Video.webp");
}

main .file-mid::before,
main .file-midi::before,
main .file-smf::before {
	background-image: url("/static/img/formats/audio/MIDIMusic.webp");
}

main .file-mlmodel::before {
	background-image: url("/static/img/formats/scripting/AppleCreateMLModel.webp");
}

main .file-mlmodelc::before {
	background-image: url("/static/img/formats/scripting/AppleCreateMLModelC.webp");
}

main .file-mobileconfig::before {
	background-image: url("/static/img/formats/text/AppleMobileConfiguration.webp");
}

main .file-mov::before,
main .file-qt::before {
	background-image: url("/static/img/formats/video/AppleMovie.webp");
}

main .file-mp2::before {
	background-image: url("/static/img/formats/audio/MP2Audio.webp");
}

main .file-mp3::before {
	background-image: url("/static/img/formats/audio/MP3Audio.webp");
}

main .file-mp4::before {
	background-image: url("/static/img/formats/video/MP4Video.webp");
}

main .file-mpe::before,
main .file-mpeg::before,
main .file-mpg::before {
	background-image: url("/static/img/formats/video/MPEGVideo.webp");
}

main .file-mscz::before {
	background-image: url("/static/img/formats/graphics/MuseScoreCompressedComposition.webp");
}

main .file-musicxml::before {
	background-image: url("/static/img/formats/text/MusicXMLScore.webp");
}

main .file-mxl::before {
	background-image: url("/static/img/formats/compression/CompressedMusicXMLScore.webp");
}

main .file-odt::before {
	background-image: url("/static/img/formats/text/OpenDocumentText.webp");
}

main .file-osax::before {
	background-image: url("/static/img/formats/scripting/AppleScriptExtension.webp");
}

main .file-otf::before,
main .file-pfa::before,
main .file-pfb::before,
main .file-pfm::before,
main .file-ttf::before {
	background-image: url("/static/img/formats/text/Font.webp");
}

main .file-p10::before {
	background-image: url("/static/img/formats/text/PublicKeyCertificateRequest.webp");
}

main .file-p12::before,
main .file-pfx::before {
	background-image: url("/static/img/formats/text/DigitalCertificateExchange.webp");
}

main .file-pbm::before,
main .file-ppm::before {
	background-image: url("/static/img/formats/graphics/PortableImage.webp");
}

main .file-pct::before,
main .file-pict::before {
	background-image: url("/static/img/formats/graphics/ApplePicture.webp");
}

main .file-pdf::before,
main .file-pdf-1::before {
	background-image: url("/static/img/formats/text/PortableDocument.webp");
}

main .file-pictclipping::before {
	background-image: url("/static/img/formats/graphics/PictureClipping.webp");
}

main .file-pkg::before {
	background-image: url("/static/img/formats/compression/AppleSoftwarePackage.webp");
}

main .file-png::before {
	background-image: url("/static/img/formats/graphics/PortableNetworkGraphics.webp");
}

main .file-prefpane::before {
	background-image: url("/static/img/formats/scripting/ApplePreferencesPane.webp");
}

main .file-psd::before,
main .file-psdc::before,
main .file-psb::before {
	background-image: url("/static/img/formats/graphics/PhotoshopDocument.webp");
}

main .file-ra::before,
main .file-ram::before {
	background-image: url("/static/img/formats/audio/RealAudio.webp");
}

main .file-rm::before,
main .file-rv::before {
	background-image: url("/static/img/formats/video/RealMediaMultimedia.webp");
}

main .file-rtf::before,
main .file-rtfd::before {
	background-image: url("/static/img/formats/text/RichText.webp");
}

main .file-safariextz::before {
	background-image: url("/static/img/formats/compression/CompressedSafariExtension.webp");
}

main .file-saver::before {
	background-image: url("/static/img/formats/scripting/AppleScreenSaver.webp");
}

main .file-scptd::before {
	background-image: url("/static/img/formats/scripting/AppleScriptBundle.webp");
}

main .file-sdef::before {
	background-image: url("/static/img/formats/scripting/AppleScriptDictionary.webp");
}

main .file-spin::before {
	background-image: url("/static/img/formats/text/AppleSpinReport.webp");
}

main .file-strings::before {
	background-image: url("/static/img/formats/text/AppleStrings.webp");
}

main .file-swift::before {
	background-image: url("/static/img/formats/scripting/AppleSwiftSource.webp");
}

main .file-tar::before {
	background-image: url("/static/img/formats/compression/UnixArchive.webp");
}

main .file-textclipping::before {
	background-image: url("/static/img/formats/text/TextClipping.webp");
}

main .file-tgz::before {
	background-image: url("/static/img/formats/compression/UnixGNUZipArchive.webp");
}

main .file-tif::before,
main .file-tiff::before {
	background-image: url("/static/img/formats/graphics/TaggedImage.webp");
}

main .file-ts::before {
	background-image: url("/static/img/formats/video/VideoTransportStream.webp");
}

main .file-url::before {
	background-image: url("/static/img/formats/web/URLShortcut.webp");
}

main .file-vcard::before,
main .file-vcf::before {
	background-image: url("/static/img/formats/text/VCard.webp");
}

main .file-wacz::before,
main .file-war::before,
main .file-warc::before {
	background-image: url("/static/img/formats/compression/WebArchive.webp");
}

main .file-wav::before {
	background-image: url("/static/img/formats/audio/WaveAudio.webp");
}

main .file-webloc::before {
	background-image: url("/static/img/formats/web/AppleInternetLocation.webp");
}

main .file-webm::before {
	background-image: url("/static/img/formats/video/WebMVideo.webp");
}

main .file-webp::before {
	background-image: url("/static/img/formats/graphics/WebPImage.webp");
}

main .file-wflow::before,
main .file-workflow::before {
	background-image: url("/static/img/formats/scripting/AppleAutomatorWorkflow.webp");
}

main .file-wma::before {
	background-image: url("/static/img/formats/audio/WindowsMediaAudio.webp");
}

main .file-xcode::before,
main .file-xcodeproj::before {
	background-image: url("/static/img/formats/scripting/AppleXcodeProject.webp");
}

main .file-xz::before {
	background-image: url("/static/img/formats/compression/XZArchive.webp");
}

main .file-z::before {
	background-image: url("/static/img/formats/compression/LegacyUnixArchive.webp");
}

main .file-zip::before,
main .file-zipx::before {
	background-image: url("/static/img/formats/compression/ZipArchive.webp");
}
