* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

form {
	display: none;
}

form input {
	position: fixed;
	inset: 0;
	height: 100vh;
	width: 100vw;
}
