@use "menu";
@use "toolbars";

:root {
	--select-color: #0c79df;
	--toolbar-height: 7ex;
	--sidebar-width: 30ex;
}

* {
	margin: 0;
}

body {
	color: #4B4B4B;
}

body,
button span {
	font-family: "Inter";
}

main {
	color: #272727;
}
