#container {
	padding-top: var(--toolbar-height);
	display: grid;
	grid-template-columns: var(--sidebar-width) auto;
}

aside {
	background-color: #E5E5E5;
	position: sticky;
	top: var(--toolbar-height);
	height: calc(100vh - var(--toolbar-height));
	box-sizing: border-box;
	padding: 5px;
	color: #3C3C3C;
}

aside * {
	display: block;
	padding: 10px;
}

aside section {
	font-size: 0.8em;
}

aside span {
	color: #888;
	font-size: 0.9em;
	font-weight: normal;
}

aside a {
	color: inherit;
	text-decoration: none;
	cursor: default;
	border-radius: 6px;
}

aside a.icon {
	background-image: var(--icon);
	background-repeat: no-repeat;
	background-size: var(--icon-size, 17px) auto;
	background-position-y: center;
	background-position-x: var(--icon-offset, 10px);
	text-indent: 27px;
}

aside a.selected {
	background-color: #C8C8C8;
}

header {
	position: fixed;
	top: 0;
	height: var(--toolbar-height);
	width: 100%;
	box-sizing: border-box;
	background-color: #F0F0F0;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 15px;
	gap: 10px;
}

header button {
	position: relative;
	padding: 5px 10px;
	min-height: 30px;
	min-width: 35px;
	background-color: transparent;
	border-radius: 5px;
	border: none;
}

header button.icon::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: var(--icon);
	background-size: var(--icon-size, 23%);
	background-repeat: no-repeat;
	background-position: center;
}

header button.disabled,
header button.disabled::before {
	filter: contrast(0.4);
}

header button:not(.disabled):hover,
header button.selected {
	background-color: rgba(0 0 0 / 7%);
}

header div.stretch {
	flex: 1;
}
